@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full overflow-x-hidden bg-slate-950;
}

html {
  @apply h-full;
}

::-webkit-scrollbar {
  @apply w-4;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  @apply border-2 border-double border-fuchsia-500;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-fuchsia-500;
}
